body {
    text-align: center;
    background-color: teal;
}
h1 {
    text-align: center;
    color: #fff;
    margin-top: 40px;
}
div {
    margin-top: 60px;
    font-size: 4em;
}
button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    padding: 5px;
    outline: none;
}
button:hover {
    background-color: crimson;
    color: #fff;
    outline: none;
}
